{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<!--======= SUB BANNER =========-->
<section class="sub-banner bg-parallax" style="background:url({{ asset('images/sg.jpg') }}) no-repeat">
    <div class="container">
        <div class="position-center-center">
            <h1>{% trans %}acerca_page_titulo{% endtrans %}</h1>
        </div>
    </div>
</section>


<!-- Content -->
<div id="content"> 

    <!-- Services -->
    <section class="welcome padding-top-100 padding-bottom-30 ">
        <div class="container"> 
            <!-- HEADING BLOCK -->
            <div class="heading-block text-center margin-bottom-80">
                <h3>{% trans %}acerca_titulo{% endtrans %}</h3>
                <hr>
                <span class=" margin-top-20">
                  {% trans %}acerca_titulo_descripcion{% endtrans %}
                </span>



            </div>

        </div>
    </section>

    <!-- PROMO -->
    <section class="promo text-center padding-bottom-100 padding-top-100" style="background:url({{ asset('images/bg/promo-bg.jpg') }}) center center no-repeat;
             background-size: cover;">

        <div class="container">
            {% trans %}acerca_difusion_titulos{% endtrans %}
            {% for document in documents %}
            <a href="{{ path('download_document', {'id' : document.id }) }}"  target="_blank" class="waves-effect waves-light btn btn-blue margin-right-20">{{ document.name }}</a>
            {% if not loop.last %}
            <br><br> 
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <!-- Team -->
    <section class="padding-top-100 padding-bottom-100">
        <div class="container"> 
            <!-- HEADING BLOCK -->
            <div class="heading-block text-center margin-bottom-80">
                {% trans %}acerca_integrantes_titulos{% endtrans %}
            </div>
        </div>

        <!-- Team -->
        <div class="expert-team">
            <div class="container">
                <ul class="row">
                    {% for integrante in integrantes %}
                    <!-- TEAM MEMBER -->
                    <li class="col-md-3">
                        <article class="z-depth-1 padding-30">
                            <div class="img-circle"> 
                                <img src="{{ integrante.id | mAvatar(integrante.fullClassName, 'imagen') | mImage(330, 214, 'o') }}" alt="{{ integrante.name }}" />
                                <h5>{{ integrante.name }}</h5>
                                <span>{{ integrante.position }}</span>
                                <p>{{ integrante.description }}</p>
                                <ul class="social-icons">
                                    <li><a href="{{ integrante.googleaccount }}"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="{{ integrante.twitteraccount }}"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="{{ integrante.facebookaccount }}"><i class="fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>



    <!-- PROMO -->
    {{ include ('AppBundle:default:_promoBlock.html.twig') }}

    <!-- Blog -->
    {{ render(controller('AppBundle:Default:lastArticles')) }}
    <!-- News Letter -->
    {{ render(controller('AppBundle:Default:newsletterForm')) }}
</div>
<!-- End Content --> 
{% endblock %}