{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
  <!--======= SUB BANNER =========-->
  <section class="sub-banner bg-parallax" style="background:url({{ asset('images/sg.jpg') }}) no-repeat">
    <div class="container">
      <div class="position-center-center">
        <h1>Imágenes y videos</h1>
      </div>
    </div>
  </section>


  <!-- Content -->
  <div id="content"> 




    <!-- PORTFOLIO -->
    <section class="portfolio port-wrap padding-bottom-100 padding-top-100">
      <div class="container"> 
        <!-- HEADING BLOCK -->
        <div class="heading-block text-center margin-bottom-80">
          <h3 class=" no-margin">Imágenes y videos</h3>
          <hr>
          <span class=" margin-top-20">Para acceder a la última imagen adquirida por una estación, haga click en la imagen que corresponda.</span> </div>

        <!-- PORTFOLIO ITEMS -->
        <div class="items row col-5 with-space"> 

          <!-- ITEM -->
          <article class="portfolio-item pf-web-design">
            <div class="portfolio-image"> <img class="img-responsive" alt="Ver Imagen SNS" src="{{ images[0] | mImage(567, 377, 'o') }}"> <a href="#" data-rel="prettyPhoto" class="prettyPhoto lightzoom zoom"><i class="ion-ios-search"></i></a>
              <div class="portfolio-overlay style-2">
                <div class="detail-info">
                  <h3><a href="#">Estación 0</a></h3>
                  <span><a href="#">Laboratorio de Energía Solar</a></span> </div>
              </div>
            </div>
          </article>

          <!-- ITEM -->
          <article class="portfolio-item pf-photography pf-branding-design">
            <div class="portfolio-image"> <img class="img-responsive" alt="Ver Imagen SNS" src="{{ images[1] | mImage(567, 377, 'o') }}"> <a href="#" data-rel="prettyPhoto" class="prettyPhoto lightzoom zoom"><i class="ion-ios-search"></i></a>
              <div class="portfolio-overlay style-2">
                <div class="detail-info">
                  <h3><a href="#">Estación 1</a></h3>
                  <span><a href="#">Escuela 70 “Salto Grande”</a></span> </div>
              </div>
            </div>
          </article>

          <!-- ITEM -->
          <article class="portfolio-item pf-web-design pf-branding-design">
            <div class="portfolio-image"> <img class="img-responsive" alt="Ver Imagen SNS" src="{{ images[2] | mImage(567, 377, 'o') }}"> <a href="#" data-rel="prettyPhoto" class="prettyPhoto lightzoom zoom"><i class="ion-ios-search"></i></a>
              <div class="portfolio-overlay style-2">
                <div class="detail-info">
                  <h3><a href="#">Estación 2</a></h3>
                  <span><a href="#">Escuela 91 “Portugal”</a></span> </div>
              </div>
            </div>
          </article>

          <!-- ITEM -->
          <article class="portfolio-item pf-web-design pf-digital-art ">
            <div class="portfolio-image"> <img class="img-responsive" alt="Ver Imagen SNS" src="{{ images[3] | mImage(567, 377, 'o') }}"> <a href="#" data-rel="prettyPhoto" class="prettyPhoto lightzoom zoom"><i class="ion-ios-search"></i></a>
              <div class="portfolio-overlay style-2">
                <div class="detail-info">
                  <h3><a href="#">Estación 3</a></h3>
                  <span><a href="#">Escuela 26 “Osimani-Llerena”</a></span> </div>
              </div>
            </div>
          </article>

          <!-- ITEM -->
          <article class="portfolio-item pf-web-design pf-digital-art ">
            <div class="portfolio-image"> <img class="img-responsive" alt="Ver Imagen SNS" src="{{ images[4] | mImage(567, 377, 'o') }}"> <a href="#" data-rel="prettyPhoto" class="prettyPhoto lightzoom zoom"><i class="ion-ios-search"></i></a>
              <div class="portfolio-overlay style-2">
                <div class="detail-info">
                  <h3><a href="#">Estación 4</a></h3>
                  <span><a href="#">CTM</a></span> </div>
              </div>
            </div>
          </article>



        </div>
      </div>
    </section>


    <!-- PROMO -->
    <section class="video-sec text-center padding-bottom-100 padding-top-100" style="background:url({{ asset('images/bg/promo-bg.jpg')}}) no-repeat;">
      <div class="container">
        <h3 class="text-white text-uppercase letter-space-2">Video</h3> 
        <h5 class="text-white text-uppercase ">
          Si desea generar una animación de las últimas 3 horas, haga click en la estación que corresponda</br></br>
		<input type="radio" value="0" name="estacion" />
        Estación 0 
        <input type="radio" value="1" name="estacion" />
        Estación 1 
        <input type="radio" value="2" name="estacion" />
        Estación 2 
        <input type="radio" value="3" name="estacion" />
        Estación 3 
        <input type="radio" value="4" name="estacion" /> 
        Estación 4 
        <input type="radio" value="5" name="estacion" />
        Estación 5
        </h5>

        <a href="#." class="waves-effect waves-light video-btn"><i class="fa fa-play"></i></a>
       
      </div>
    </section>
      
    <!-- Simple video example -->
    <!--
   <video src="{{ path('retrieve_video', {'estacionId' : 0} )}}" autoplay>
    Sorry, your browser doesn't support embedded videos, 
    but don't worry, you can <a href="videofile.ogg">download it</a>
    and watch it with your favorite video player!
   </video>  
    -->
    <!-- Blog -->
    {{ render(controller('AppBundle:Default:lastArticles')) }}
    <!-- News Letter -->
    {{ render(controller('AppBundle:Default:newsletterForm')) }}
  </div>
  <!-- End Content -->   
{% endblock %}