{% extends 'AppBundle::layout.html.twig' %}
{% block javascripts %}
<script src="{{ asset('js/jquery.colorbox-min.js') }}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript">



$(document).ready(function()
{
     modals.init();
});

var modals =
{
     autoplay:true,
     startVideo: function()
     {
       $('#video-player-id').attr('src', $('.btn-yellow').attr('src-alt'));
       $("#loader").fadeIn("slow");
       $('#video-player-id').get(0).onloadeddata = function() {
          $("#loader").fadeOut();
      };
      //console.log($(".videoPlayer"));
       $(".videoPlayer").dialog("open");
       if(modals.autoplay == true)
       {
            $('#video-player-id').get(0).play();
       }
       $('#overlay').fadeIn();
     },
     init:function()
     {
          $(".videoPlayer").dialog({
               width: 600,
               height: 600,
               autoOpen: false,
               resizable: true,
               position: { my: 'top', at: 'top+150' },
               show: {
                    effect: 'fade',
                    duration: 1000
               },
               hide: {
                    effect: "fade",
                    duration: 1000
               }
          });

          $(".videoPlayer").each(function()
          {
               $('.ui-widget-header').remove();
          });

          $( ".loadVideo" ).click(function()
          {
               $(".videoPlayer").dialog("open");
               if(modals.autoplay == true)
               {
                    $('#video-player-id').get(0).play();
               }
               $('#overlay').fadeIn();
          });

          $(document).mouseup(function (e)
          {
               if($('.videoPlayer').is(':visible'))
               {
                    var container = $(".videoPlayer");

                    if (!container.is(e.target) && container.has(e.target).length === 0) 
                    {
                         container.dialog("close");
                         $('#overlay').fadeOut(1500);
                         $('#video-player-id').get(0).pause();
                    }
               }
          });
     }
}

</script>
{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/colorbox.css') }}" />
  
  <style>
  .ui-dialog .ui-dialog-content
{
     position: relative;
     border: 0;
     padding: 0;
     overflow:hidden;
}
.ui-widget-content
{
     padding:0;
     border:none;
}
.overlay
{
     background:rgba(0,0,0,0.3);
     display:none;
     width:100%;
     height:100%;
     position:fixed;
     top:0;
     left:0;
     z-index:100;
}
.loadVideo
{
     width: 272px;
     height: 153px;
}
  </style>
{% endblock %}
{% block body %}
  <!--======= SUB BANNER =========-->
  <section class="sub-banner bg-parallax" style="background:url({{ asset('images/sg.jpg') }}) no-repeat">
    <div class="container">
      <div class="position-center-center">
        <h1>Imágenes y videos</h1>
      </div>
    </div>
  </section>


  <!-- Content -->
  <div id="content">




    <!-- PORTFOLIO -->
    <section class="portfolio port-wrap padding-bottom-100 padding-top-100">
      <div class="container">
        <!-- HEADING BLOCK -->
        <div class="heading-block text-center margin-bottom-80">
          <h3 class=" no-margin">Imágenes y videos</h3>
          <hr>
          <span class=" margin-top-20">Para acceder a la última imagen adquirida por una estación, haga click en la imagen que corresponda.</span> </div>

        <!-- PORTFOLIO ITEMS -->
        <div class="items row col-5 with-space">
          {% for estacionData in estaciones %}
          <!-- ITEM -->
          {% set estacionImageUrl  =  estacionData['image'] | mImage(567, 377, 'o')%}
          <article class="portfolio-item pf-web-design">
            <div class="portfolio-image">
              <img class="img-responsive" alt="Ver Imagen SNS" src="{{ estacionImageUrl }}">
              <a href="{{ estacionImageUrl }}" data-rel="prettyPhoto" class="prettyPhoto lightzoom zoom"><i class="ion-ios-search"></i></a>
              <div class="portfolio-overlay style-2">
                <div class="detail-info">
                  <h3><a href="javascript:void(0)" onclick="$.colorbox({photo: true, href:'{{ estacionImageUrl }}'});">Estación {{ estacionData['estacion'].position }}</a></h3>
                  <span><a href="javascript:void(0)" onclick="$.colorbox({photo: true, href:'{{ estacionImageUrl }}'});">{{ estacionData['estacion'].name }}</a></span> </div>
              </div>
            </div>
          </article>
          {% endfor %}


        </div>
      </div>
    </section>


    <!-- PROMO -->
    <section class="video-sec text-center padding-bottom-100 padding-top-100" style="background:url({{ asset('images/bg/promo-bg.jpg')}}) no-repeat;">
      <div class="container">
        <h3 class="text-white text-uppercase letter-space-2">Video</h3>
        <h5 class="text-white text-uppercase ">
          Si desea generar una animación de las últimas 3 horas, haga click en la estación que corresponda</br></br>
        <input type="button" value="Estación 0" name="estacion" src-alt="{{ path('retrieve_video', {'estacionId' : 0} )}}" class="btn btn-yellow btn-video" onclick="$('.btn-video').removeClass('btn-yellow');$(this).addClass('btn-yellow');"/>
        <input type="button" value="Estación 1" name="estacion" src-alt="{{ path('retrieve_video', {'estacionId' : 1} )}}" class="btn btn-default btn-video" onclick="$('.btn-video').removeClass('btn-yellow');$(this).addClass('btn-yellow');"/>
        <input type="button" value="Estación 2" name="estacion" src-alt="{{ path('retrieve_video', {'estacionId' : 2} )}}" class="btn btn-default btn-video" onclick="$('.btn-video').removeClass('btn-yellow');$(this).addClass('btn-yellow');"/>
        <input type="button" value="Estación 3" name="estacion" src-alt="{{ path('retrieve_video', {'estacionId' : 3} )}}" class="btn btn-default btn-video" onclick="$('.btn-video').removeClass('btn-yellow');$(this).addClass('btn-yellow');"/>
        <input type="button" value="Estación 4" name="estacion" src-alt="{{ path('retrieve_video', {'estacionId' : 4} )}}" class="btn btn-default btn-video" onclick="$('.btn-video').removeClass('btn-yellow');$(this).addClass('btn-yellow');"/>
        <input type="button" value="Estación 5" name="estacion" src-alt="{{ path('retrieve_video', {'estacionId' : 5} )}}" class="btn btn-default btn-video" onclick="$('.btn-video').removeClass('btn-yellow');$(this).addClass('btn-yellow');"/>
        </h5>

        <a href="javascript:void(0)" onclick="modals.startVideo();" class="waves-effect waves-light video-btn"><i class="fa fa-play"></i></a>

      </div>
    </section>

    <!-- Simple video example -->
    <div id="videoContainer" style="display:none" class="">
     <video id="video-player-id" src="" src-alt="{{ path('retrieve_video', {'estacionId' : 0} )}}" class="videoPlayer">
      Sorry, your browser doesn't support embedded videos,
      but don't worry, you can <a href="videofile.ogg">download it</a>
      and watch it with your favorite video player!
     </video>
    </div>

    <!-- Blog -->
    {{ render(controller('AppBundle:Default:lastArticles')) }}
    <!-- News Letter -->
    {{ render(controller('AppBundle:Default:newsletterForm')) }}
  </div>
  <!-- End Content -->
{% endblock %}
