{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
        <!--======= HOME MAIN SLIDER =========-->
        <section class="home-slider">
            <div class="tp-banner-container">
                <div class="tp-banner-fix">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7"> 
                            <!-- MAIN IMAGE --> 
                            <img src="{{ asset('images/slides/slides-1.jpg') }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                            <!-- LAYERS --> 

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption text-uppercase font-bold sft tp-resizeme" 
                                 data-x="center" data-hoffset="0" 
                                 data-y="center" data-voffset="-100" 
                                 data-speed="500" 
                                 data-start="500" 
                                 data-easing="Power3.easeInOut" 
                                 data-splitin="words" 
                                 data-splitout="none" 
                                 data-elementdelay="0.1" 
                                 data-endelementdelay="0.1" 
                                 data-endspeed="700" 
                                 style="z-index: 5; font-size:65px; color:#fff;">Solar Nowcasting System </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption letter-space-1 sfb tp-resizeme" 
                                 data-x="center" data-hoffset="0" 
                                 data-y="center" data-voffset="0" 
                                 data-speed="500" 
                                 data-start="1000" 
                                 data-easing="Power3.easeInOut" 
                                 data-splitin="words" 
                                 data-splitout="none" 
                                 data-elementdelay="0.1" 
                                 data-endelementdelay="0.1" 
                                 data-endspeed="700" 
                                 style="z-index: 5; font-size:25px; color:#fff; font-weight:100;">Sistema de pronóstico infrahorario (nowcasting) de irradiancia solar basado en cámaras todo cielo</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfb tp-resizeme" 
                                 data-x="center" data-hoffset="0" 
                                 data-y="center" data-voffset="100" 
                                 data-speed="500" 
                                 data-start="1500" 
                                 data-easing="Power3.easeInOut" 
                                 data-splitin="none" 
                                 data-splitout="none" 
                                 data-elementdelay="0.1" 
                                 data-endelementdelay="0.1" 
                                 data-endspeed="300" 
                                 style="z-index: 6; white-space: normal;"><a href="acerca.html" class="btn btn-med btn-color">VER PROYECTO</a> </div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7"> 
                            <!-- MAIN IMAGE --> 
                            <img src="{{ asset('images/slides/slides-1.jpg') }}"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                            <!-- LAYERS --> 

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption text-uppercase font-bold sft tp-resizeme" 
                                 data-x="center" data-hoffset="0" 
                                 data-y="center" data-voffset="-100" 
                                 data-speed="500" 
                                 data-start="500" 
                                 data-easing="Power3.easeInOut" 
                                 data-splitin="words" 
                                 data-splitout="none" 
                                 data-elementdelay="0.1" 
                                 data-endelementdelay="0.1" 
                                 data-endspeed="700" 
                                 style="z-index: 5; font-size:65px; color:#fff;">SNS</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption letter-space-1 sfb tp-resizeme" 
                                 data-x="center" data-hoffset="0" 
                                 data-y="center" data-voffset="0" 
                                 data-speed="500" 
                                 data-start="1000" 
                                 data-easing="Power3.easeInOut" 
                                 data-splitin="words" 
                                 data-splitout="none" 
                                 data-elementdelay="0.1" 
                                 data-endelementdelay="0.1" 
                                 data-endspeed="700" 
                                 style="z-index: 5; font-size:25px; color:#fff; font-weight:100;">5 estaciones instaladas en un entorno de la planta fotovoltaica de Salto Grande "Asahi”</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfb tp-resizeme" 
                                 data-x="center" data-hoffset="0" 
                                 data-y="center" data-voffset="100" 
                                 data-speed="500" 
                                 data-start="1500" 
                                 data-easing="Power3.easeInOut" 
                                 data-splitin="none" 
                                 data-splitout="none" 
                                 data-elementdelay="0.1" 
                                 data-endelementdelay="0.1" 
                                 data-endspeed="300" 
                                 style="z-index: 6; white-space: normal;"><a href="prototipo.html" class="btn btn-med btn-color">VER SISTEMA</a> </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Content -->
        <div id="content"> 

            <!-- Services -->
            <section class="welcome padding-top-100 padding-bottom-30 ">
                <div class="container"> 
                    <!-- HEADING BLOCK -->
                    <div class="heading-block text-center margin-bottom-80">
                        <h3>SNS | Solar Nowcasting System</h3>
                        <hr>
                        <span class=" margin-top-20">La variabilidad del recurso solar en el corto plazo y a nivel local, debido a la influencia de la nubosidad, significa un gran desafío para el operador de una red eléctrica con relativa participación de energía solar fotovoltaica. Por ello, se vuelve necesario el desarrollo de sistemas capaces de realizar predicciones de corto plazo del input solar.  

                            </br> </br>  El presente proyecto implica el diseño y construcción de un<a href="prototipo.html"> sistema</a> de pronóstico infrahorario (nowcasting) de irradiancia solar basado en cámaras todo cielo, el cual estima el campo de velocidad actual de nubes y predice la irradiancia solar global con un horizonte temporal de entre 3 y 20 minutos aproximadamente, dependiendo de la velocidad y altura de base de nubes. </span>



                    </div>

                </div>
            </section>
            <!-- PROMO -->
            <section class="promo pink-bg padding-bottom-60 padding-top-60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="text-white text-uppercase no-margin">Desea probar SNS? </h3>
                        </div>
                        <div class="col-md-5 text-center"> <a href="imagenes.html" class="waves-effect waves-light btn  btn-white margin-right-20">ver imágenes</a> <a href="contacto.html" class="waves-effect btn btn-blue margin-left-20">contactanos</a> </div>
                    </div>
                </div>
            </section>
            <div class="container">    <section class="welcome padding-top-40 padding-bottom-100 ">
                    <!-- Icon Row -->

                    <div class="row">
                        <div class="col-md-7">
                            <ul class="row margin-top-70">

                                <!-- Services -->
                                <li class="col-md-6 margin-bottom-50">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon"> <i class="ion-ios-speedometer-outline"></i> </div>
                                        </div>
                                        <div class="media-body">
                                            <h5>Velocidad Nubes</h5>
                                            <p>El sistema estima el campo de velocidad actual de nubes.</p>
                                        </div>
                                    </div>
                                </li>

                                <!-- Services -->
                                <li class="col-md-6 margin-bottom-50">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon"> <i class="ion-ios-color-wand-outline"></i> </div>
                                        </div>
                                        <div class="media-body">
                                            <h5>Posición de nubes</h5>
                                            <p>Estimación de la velocidad y altura de base de nubes. </p>
                                        </div>
                                    </div>
                                </li>

                                <!-- Services -->
                                <li class="col-md-6">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon"> <i class="ion-ios-infinite-outline"></i> </div>
                                        </div>
                                        <div class="media-body">
                                            <h5>Nowcasting</h5>
                                            <p>Predicción de irradiancia solar global  </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon"> <i class="ion-ios-monitor-outline"></i> </div>
                                        </div>
                                        <div class="media-body">
                                            <h5>Tiempo</h5>
                                            <p>Horizonte temporal de entre 3 y 20 minutos  </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5"> <img class="img-responsive" src="images/intro-tabs.png" alt="" > </div>
                    </div>
            </div>
            </section>

            <!-- PROMO -->
            {{ include ('AppBundle:default:_promoBlock.html.twig') }}


            <!-- Intro Coporate -->
            <section class="list-style-featured light-gray-bg padding-top-80 padding-bottom-80 ">
                <div class="container"> 

                    <!-- HEADING BLOCK -->
                    <div class="heading-block text-center margin-bottom-10">
                        <h3>Prototipo</h3>
                        <hr>
                        <span class=" margin-top-20">El prototipo desarrollado está compuesto por los siguientes subsistemas </span> </div>
                    <div class="row"> 

                        <!-- LIST LEFT -->
                        <div class="col-md-4">
                            <ul class="margin-top-50 text-right">
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h4>Captura</h4>
                                            <p>Está conformado por una cámara Canon EOS 60D y una lente Sigma Fisheye. </p>
                                        </div>
                                        <div class="media-right">
                                            <div class="icon"> <img src="images/list-icon-1.png" alt=""></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h4>Alimentación</h4>
                                            <p>Es un sistema autónomo basado en dos módulos fotovoltaicos marca Kyocera, una batería estacionaria de ciclo profundo, un controlador de carga y boosters DC.
                                            </p>
                                        </div>
                                        <div class="media-right">
                                            <div class="icon"> <img src="images/list-icon-2.png" alt=""></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-body">
                                            <h4>Comunicación</h4>
                                            <p>Modem de Banda Ancha Móvil (BAM) conectado a la red 3G de Antel, y una antena exterior Yagi de 12 dBd de ganancia. </p>
                                        </div>
                                        <div class="media-right">
                                            <div class="icon"> <img src="images/list-icon-3.png" alt=""></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- LIST IMAGE -->
                        <div class="col-md-4 text-center no-padding"> <img class="img-responsive" src="images/prototipo.png" alt=""> </div>

                        <!-- LIST ICON RIGHT -->
                        <div class="col-md-4">
                            <ul class="margin-top-50">
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon"> <img src="images/list-icon-4.png" alt=""> </div>
                                        </div>
                                        <div class="media-body">
                                            <h4>Monitoreo y control</h4>
                                            <p>Está conformado por sensores, dos resistencias para calentamiento del domo, un módulo Arduino y un software de control de desarrollo propio. </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon"> <img src="images/list-icon-5.png" alt=""> </div>
                                        </div>
                                        <div class="media-body">
                                            <h4>Sensores</h4>
                                            <p>Los sensores de temperatura y humedad están ubicados al interior del gabinete. Los sensores de tensión monitorean la tensión de baterías, PC y cámara.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon"> <img src="images/list-icon-6.png" alt=""> </div>
                                        </div>
                                        <div class="media-body">
                                            <h4>Software</h4>
                                            <p>CanonCC permite la adquisición una vez por minuto y de forma automática de una imagen, y su envío también automático a un servidor FTP especificado por el usuario.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>



            <!-- PORTFOLIO -->
            <section class="portfolio port-wrap pink-bg padding-top-80">
                <div class="container"> 
                    <!-- HEADING BLOCK -->
                    <div class="heading-block text-center margin-bottom-80">
                        <h3 class="text-white no-margin">Estaciones</h3>
                    </div>
                </div>

                <!-- PORTFOLIO ITEMS -->
                <div class="items row col-5"> 

                    <!-- ITEM -->
                    <article class="portfolio-item pf-web-design">
                        <div class="portfolio-image"> <a href="imagenes.html"> <img class="img-responsive" alt="Estaciones" src="images/portfolio/img-1.jpg"> </a>
                            <div class="portfolio-overlay style-2">
                                <div class="detail-info">
                                    <h3><a href="imagenes.html">LES</a></h3>
                                    <span><a href="imagenes.html">Ver Imagenes</a></span> </div>
                            </div>
                        </div>
                    </article>

                    <!-- ITEM -->
                    <article class="portfolio-item pf-photography pf-branding-design">
                        <div class="portfolio-image"> <a href="imagenes.html"> <img class="img-responsive" alt="Estaciones" src="images/portfolio/img-2.jpg"> </a>
                            <div class="portfolio-overlay style-2">
                                <div class="detail-info">
                                    <h3><a href="imagenes.html">Escuela 70 “Salto Grande”</a></h3>
                                    <span><a href="imagenes.html">Ver Imagenes</a></span> </div>
                            </div>
                        </div>
                    </article>

                    <!-- ITEM -->
                    <article class="portfolio-item pf-web-design pf-branding-design">
                        <div class="portfolio-image"> <a href="#."> <img class="img-responsive" alt="Estaciones" src="images/portfolio/img-3.jpg"> </a>
                            <div class="portfolio-overlay style-2">
                                <div class="detail-info">
                                    <h3><a href="imagenes.html">Escuela 91”Portugal”</a></h3>
                                    <span><a href="imagenes.html">Ver Imagenes</a></span> </div>
                            </div>
                        </div>
                    </article>

                    <!-- ITEM -->
                    <article class="portfolio-item pf-web-design pf-digital-art ">
                        <div class="portfolio-image"> <a href="#."> <img class="img-responsive" alt="Estaciones" src="images/portfolio/img-4.jpg"> </a>
                            <div class="portfolio-overlay style-2">
                                <div class="detail-info">
                                    <h3><a href="imagenes.html">Escuela 26 “Osimani Llerena”</a></h3>
                                    <span><a href="imagenes.html">Ver Imagenes</a></span> </div>
                            </div>
                        </div>
                    </article>

                    <!-- ITEM -->
                    <article class="portfolio-item pf-web-design pf-digital-art ">
                        <div class="portfolio-image"> <a href="imagenes.html"> <img class="img-responsive" alt="Estaciones" src="images/portfolio/img-5.jpg"> </a>
                            <div class="portfolio-overlay style-2">
                                <div class="detail-info">
                                    <h3><a href="imagenes.html">CTM</a></h3>
                                    <span><a href="imagenes.html">Ver Imagenes</a></span> </div>
                            </div>
                        </div>
                    </article>



                </div>
            </section>










            <!-- Blog -->
            {{ render(controller('AppBundle:Default:lastArticles')) }}

            <!-- News Letter -->
            {{ render(controller('AppBundle:Default:newsletterForm')) }}
        </div>
        <!-- End Content -->     
{% endblock %}

{% block stylesheets %}

{% endblock %}
