{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <!--======= SUB BANNER =========-->
    <section class="sub-banner bg-parallax" style="background:url({{ asset('images/sg.jpg') }}) no-repeat">
        <div class="container">
            <div class="position-center-center">
                <h1>{% trans %}prototipo_page_titulo{% endtrans %}</h1>
            </div>
        </div>
    </section>
    <!-- Content -->
    <div id="content"> 
        <!-- Services -->
        <section class="welcome padding-top-100 padding-bottom-30 ">
            <div class="container"> 
                <!-- HEADING BLOCK -->
                <div class="heading-block text-center margin-bottom-80">
                    <h3>{% trans %}prototipo_titulo{% endtrans %}</h3>
                    <hr>
                    <span class=" margin-top-20">
                      {% trans %}prototipo_titulo_descripcion{% endtrans %}
                    </span>
                </div>
            </div>
        </section>
        <!-- TAB SECTION -->
        <section class="light-gray-bg tabs-sect padding-bottom-100 padding-top-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"> <img class="img-responsive" src="{{ asset('images/intro-tabs2.png') }}" alt="" > </div>
                    {% trans %}prototipo_contenido_descripcion{% endtrans %}
                </div>
            </div>
        </section>
        <!-- PROMO -->
        {{ include ('AppBundle:default:_promoBlock.html.twig') }}
        <!-- Blog -->
        {{ render(controller('AppBundle:Default:lastArticles')) }}
        <!-- News Letter -->
        {{ render(controller('AppBundle:Default:newsletterForm')) }}
    </div>
    <!-- End Content --> 
{% endblock %}