{% extends 'AppBundle::adminlayout.html.twig' %}

{% block pagestylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/admin/vendor/chosen/chosen.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/admin/vendor/datatables/jquery.dataTables.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/admin/vendor/toastr/toastr.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/admin/vendor/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/vendor/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/datatables.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/articles.js') }}"></script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-8">    
            <section class="panel panel-info">
                <header class="panel-heading">{% trans %}article_list_title{% endtrans %}</header>
                <div class="panel-body">
                    <div class="table-responsive no-border">
                        <table class="table table-bordered table-striped mg-t datatable">
                            <thead>
                                <tr>
                                    <th>{% trans %}article_image{% endtrans %}</th>
                                    <th>{% trans %}article_title{% endtrans %}</th>
                                    <th>{% trans %}article_active{% endtrans %}</th>
                                    <th>{% trans %}article_createdat{% endtrans %}</th>
                                    <th>{% trans %}article_actions{% endtrans %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><img src='{{ entity.id | mAvatar(entity.fullClassName, 'principal') | mImage(60, 60, 'rce') }}' class="img-responsive" /></td>
                                        <td>{{ entity.title }}</td>
                                        <td>{{ entity.active }}</td>
                                        <td>{{ entity.createdAt | date('d/m/Y')}}</td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="{{ path('admin_article_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="col-lg-12 text-center">
                            <a href="{{ path('admin_article_new') }}" class="btn btn-info">
                                {% trans %}article_create{% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">    
            <section class="panel panel-info">
                <header class="panel-heading">{% trans %}article_categories_title{% endtrans %}</header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mg-t datatable" id="category-list">
                        <thead>
                            <tr>
                              <th>{% trans %}article_categories_name{% endtrans %}</th>
                              <th>{% trans %}article_categories_actions{% endtrans %}</th>
                            </tr>
                          </thead>
                          <tbody id="article_categories_table_body">
                            {% for category in categories %}
                                {% include 'AppBundle:Article:_articleCategoryRow.html.twig' with { 'category' : category } %}
                            {% endfor %}
                          </tbody>
                    </table>
                    <div class="col-md-12 text-center">
                        <a href="{{ path('admin_category_article_new') }}" onclick="return showArticleCategoryModal(this)" class="btn btn-info">
                            {% trans %}article_create{% endtrans %}
                        </a>
                    </div>      
                </div>
            </section>
        </div>
    </div>
<!-- Modal Mail body -->
<div class="modal" id="showModal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="showModalTitle">Categorias</h4>
        </div>
        <div class="modal-body" id="showModalBody">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->                             
{% endblock %}
