{% extends 'AppBundle::adminlayout.html.twig' %}
{% block pagestylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonimage/css/maithalbums.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/colorbox.css') }}" />
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/jquery.colorbox-min.js') }}"></script>    
  <script type="text/javascript" src="{{ asset('bundles/maithcommonimage/js/imagesManager.js') }}"></script>    
{% endblock %}
{% block body -%}
    {% for entity in entities %}
    <div class="row">
      <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">{{ entity.name }}</header>
              <div class="panel-body">
                {{ render(controller('MaithCommonAdminBundle:Albums:albumsData', {'id': entity.id, 'objectclass' : entity.fullClassName, 'listmode' : false }))}}
              </div>
            </section>
      </div>
    </div>
    {% endfor %}
{% endblock %}
